body {
    background-color: gray;
    width: 100%;
}
.FTFlogo {
    padding: 5px;
}
.header {
    width: 1020px;
    height: 100px;
    margin: 5px;
    background-image: url(../img/headerftfdfw3.png);
    
}
.login {
    width: 250px;
    height: 250px;
    
}
.secondary, .extra {
    width: 250px;
    height: 600px;
    float: left;
    margin: 5px;
}
.content {
    width: 500px;
    height: 600px;
    float: left;
    margin: 5px;
}
.johnnysad {
    
}
.bawlsad {
    
}
#dvMap {
    width: 500px;
    height: 300px;
}

@media screen and (max-width: 993px) {
    body {
        background-color: lightblue;
    }
}
@media screen and (max-width: 768px) {
    .extra {
        display: 766px;
    }
    .header {
        width: 500px;
        background-image: none;
    }
}